.canvas{
    cursor: grab;
    overflow: auto;
    height: 100vh;
    width: 100wh;
    position: relative;
    background-color: #202124;
    
    user-select: none;
}
.content{
    height: 4800px;
    width: 4800px;
    background-color: #26439a;
    position: relative;
    margin: 50px;
    // cursor: grab;
    // overflow: auto;
}

.nodeWrapper{
    position: absolute; 
    justify-content: flex-start;
    align-items: flex-end;
    left: 1050px;
    bottom: 90%;
    user-select: none;
}