.canvas{
    cursor: grab;
    overflow: auto;
    height: 90vh;
    width: 90vw;
    position: relative;
    background-color: #202124;
    
    margin: auto;
    margin-top: 5%;

    user-select: none;
}
.content{
    height: 480px;
    width: 480px;
    background-color: #26439a;
    position: relative;
    margin: 50px;
    // cursor: grab;
    // overflow: auto;
}

.nodeWrapper{
    position: absolute; 
    justify-content: flex-start;
    align-items: flex-end;
    left: 0px;
    bottom: 0px;
    user-select: none;
}